[Desktop Entry]
Type=Application
Exec=/home/ndi/runffmpeg/encode8HDSDI.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=start 8 encoderds
Name=start 8 encoderds
Comment[en_US]=
Comment=


